body{
    text-align: center;
}
:root{
    --surface:#FCFBFC;
    --btn:#000;
    --green-btn:#8AAE27;
    --main:#8AAE27;
    --black-txt:#000;
    --white:#fff;
    --title:#000;
    --green-txt:#8AAE27;
    --border:0.2px solid grey;
    --card-bg:#fff;
}
.section{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 40px;

}
.con-text{
    background-color: var(--main);
    color: white;
    border-radius: 20px;
    margin  : 20px 0;
    padding: 20px;

}

.section h1{
    text-align: center;
    font-size: 35px;
    margin: ;
}
.text{
    width: 100%;
    height: 150px;
}
.text p{
    font-size: 28px;
    padding: 25px;
    text-align: center;
}
.text span{
    font-size: 20px;
    padding: 25px;text-align: justify;
    margin-bottom: 20px;

}
.text1{
    width: 95%;
    height: 80px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.text1 span{
    font-size: 20px;
}
.image{
    width: 50%;
    height: 600px;
    margin: auto;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}