.contact{
    width: 100%;
    height: 750px;
}
.contact h1{
    text-align: center;
    color: #0e0b0b;
    font-size: 34px;
    margin-top: 30px}

.labels{
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;

}
.labels label{
    font-size: 20px;
    color: #0e0b0b;
    margin-left: 20px;

}
.labels input{
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    background-color: transparent; 
    border-radius: 10px;
    color: gainsboro;
}
.img{
    width: 47%;
    margin: auto;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}