*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--surface);
}
:root{
    --surface:#FCFBFC;
    --btn:#000;
    --green-btn:#8AAE27;
    --main:#8AAE27;
    --black-txt:#000;
    --white:#fff;
    --title:#000;
    --green-txt:#8AAE27;
    --border:0.2px solid grey;
    --card-bg:#fff;
}
.banner-hero{
    padding: 40px 0;
    width: 100%;
    height: 400px;
    background-image: url('https://assets.upstox.com/content/assets/images/news/qcommercethumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
}
.banner-hero_title{
    font-size: 40px;
    color: var(--white);
    margin-left: 50px;
    display: block;
}
.banner-hero_btn{
    display:block;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--green-btn);
    color: var(--white);
    text-decoration: none;
        border-radius: 5px;}
        /* SECTION */
.pagination-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* GREEN BAR */

/* PAGINATION */
.pagination{
    display: inline-flex;
    gap: 10px;
    background: #f2f2f2;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #000;
    padding: 6px 10px;
    border-radius: 4px;
}

.pagination a:hover {
    background: #ddd;
}

.pagination .active {
    color: #8bb02b;
    font-weight: bold;
}


/* NAV BAR */
.nav-bar {
    padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-left a,
.dropdown {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.arrow {
  font-size: 14px;
  margin-left: 6px;
}

/* SORT BUTTON */
.sort-btn {
  border: 1px solid #000;
  background: transparent;
  padding: 8px 14px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

/* SEARCH BAR */
.search-wrapper {
  width: 100%;
  padding: 0 40px;

    margin-bottom: 40px;

}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background: #eef4da;
  border: 1.5px solid #8fb52a;
  border-radius: 999px;
  
}

.search-icon {
  font-size: 26px;
  color: #8fb52a;
  margin-right: 15px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #8fb52a;
  width: 100%;
}

.search-bar input::placeholder {
  color: #8fb52a;
  opacity: 1;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
    gap: 40px;
    justify-items: center;
    padding: 0 40px 40px 40px;
    
}
.product-card {
margin-bottom: 0;

}
.product-card-4{
  width: 23%;
}
.dropdown select{
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.nav-left a:hover{
color: var(--main);
  transition: 40s;
  
} 
.sort{
  background-color:transparent;
  border: none;
}