body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
}
.container h1{
    text-decoration: none;
    color: black;
    text-align: center;

}

.title {
    margin: 20px;
    font-weight: bold;
}

.product-card {
    width: 380px;
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}

.product-card img {
    width: 280px;
    margin: 20px 0;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.badge {
    position: absolute;
    top: 10px;
    padding: 10px 8px;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
}

.free {
    left: 10px;
    background: #8AAE27;
}

.stock {
    right: 10px;
    color: #FF0000;

}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow: scroll;
}
