

body {
}

.checkout-page {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 40px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

/* CART */
.cart h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.cart-sub {
  color: #6b7280;
  margin-bottom: 24px;
}

.cart-item {
  display: grid;
  grid-template-columns: 60px 1fr 80px 80px 40px;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.cart-item img {
  width: 48px;
}

.info h4 {
  font-size: 16px;
}

.info span {
  font-size: 13px;
  color: #6b7280;
}

.qty {
  text-align: center;
  font-size: 14px;
}

.prices {
  font-weight: 600;
}

.delete {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* PAYMENT */
.payment {
  background: #8fb52a;
  border-radius: 24px;
  padding: 28px;
  color: #fff;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.label {
  margin-bottom: 8px;
}

.cards {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.cards span {
  background: rgba(255,255,255,0.2);
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
}

.cards .muted {
  opacity: 0.7;
}

.payment label {
  display: block;
  margin: 14px 0 6px;
  font-size: 14px;
}

.payment input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #000;
  color: #fff;
}

.row {
  display: flex;
  gap: 16px;
}

.summary {
  margin: 24px 0;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary .total {
  font-weight: 700;
}

.checkout a{
  text-decoration: none; 
  color: #fff;

}
.checkout {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 18px;
  border-radius: 14px;
  border: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}
